:root {
    --bg-color: #f0f0f0;
    --text-color: #353535;
}

/* Basic reset + basic rules for the whole page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    max-width: 80%;
    min-width: 320px;
    margin: 50px auto;
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* Some styling on precise element */

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-size: 2rem ;
}

h2, p {
    margin: 20px 30px;
}

p {
    font-size: 1.2rem;
}

section {
    padding: 15px 25px;
}

button {
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}